:root { 
    --light-lavender: #bbadd2;
    --light-pink: #f3b5b5ce;
    --light-beige: #fcdadf;
    --light-red: #ED1C24; 
    --light-logo: #422441;
    --dark-black: #23272a; 
    --dark-grey: #3e4146; 
    --dark-teal: #99aab5; 
    --dark-blue: #7289da; 
    --dark-logo: #D4F2D2;
}